@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}



body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  background: linear-gradient(235deg, #55788B 0%, #BBDEF0 74.46%);
 
}
.navbar{
  background: linear-gradient(235deg, #55788B 0%, #BBDEF0 74.46%);
}
.page {
  height: 100vh;
  
  display: flex;
 
  justify-content: center;
}



